

.title {
    color: #00bc8c !important;
}

.center{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
}


/*colored ellipses  */
.txbox_blue {
  border: 1px solid black;
  color: white;
  box-shadow: 1px 2px 2px black;
  font-weight: 900;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 20px;
  display: inline-block;
  background-color: #2a4e8a;
  position: center;
}

.txbox_green {
  border: 1px solid black;
  color: white;
  box-shadow: 1px 2px 2px black;
  font-weight: 900;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 20px;
  display: inline-block;
  background-color: #3dbc8b; 
  position: center;
}

.txbox_gray {
  border: 1px solid black;
  color: white;
  box-shadow: 1px 2px 2px black;
  font-weight: 900;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 20px;
  display: inline-block;
  background-color: #808080;
  position: center;
}

.book .book-header .btn {
    display: block;
    height: 50px;
    padding: 0 15px;
    border-bottom: none;
    color: #00bc8c !important;
    text-transform: uppercase;
    line-height: 50px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    position: relative;
    font-size: 20px;
}

/* styling text circles and centered image with drop shadow */
.numberCircle {
    display:inline-block;
    border-radius:50%;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size:22.5px;
    font-weight: bold;
    color: white;
    height: 30px;
    width: 30px;
    /* line-height:22.5px; */
    text-align:center;
    background:#3399ff;
}

.numberCircle:before,
.numberCircle:after {
    content:'\200B';
    display:inline-block;
    line-height:0px;
    padding-top:50%;
    padding-bottom:50%;
}

.numberCircle:before {
    padding-left:4px;
}
.numberCircle:after {
    padding-right:4px;
}

.bordered{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  transition: transform .5s; /* Animation */
}


.bordered:hover {
    transform: scale(1.5); 
    transition-delay: 1s;
}

#parent {
    list-style: none;
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#parent > li {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: red;
}


/* zoom on click hacks 
https://stackoverflow.com/questions/39858998/zoom-in-and-out-on-mouse-click-with-css 
*/

.left_panel {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

.right_panel {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}


.zoom_plot {
    transition: transform .5s; /* Animation */
}

.zoom_plot:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition-delay: 1.5s;
}


/* bookdown */

body {
  font-size: 1.6rem;
  text-align: justify;
}


h1,h2,h3,h4,h5 {
  text-align: left;
}

.blue-box {
  background-color: #e6f0ff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.green-box {
  background-color: #d9ffe9;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.orange-box {
  background-color: #ffeedf;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.caution, .important, .note, .tip, .warning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
  border: 2px solid orange;
  border-radius: 10px;
}

.caution {
  background-image: url("img/caution.png");
}

.important {
  background-image: url("img/important.png");
}

.note {
  background-image: url("img/note.png");
}

.tip {
  background-image: url("img/tip.png");
}

.warning {
  background-image: url("img/warning.png");
}
